{% extends "base-info.html" %}

    {% block titulo %}
       SmarLock
    {% endblock %}

    {% block subtitulo %}
        Informacion de uso
    {% endblock %}

{% block info %}
<p>
  <strong>Justificación</strong>
  Se realiza con el fin de que los niños se esfuercen en realizar su tarea antes de utilizar la computadora o por lo menos que obtengan un poco de conocimiento antes de manipular las tecnologías a las que son acreedores (Tablets/Computadoras/Celulares).

</p>

{% endblock info %}
